RADARR_URL=http://localhost:7878/api/v3
RADARR_KEY=YOUR_RADARR_API_KEY
SONARR_URL=http://localhost:8989/api/v3
SONARR_KEY=YOUR_SONARR_API_KEY
PROWLARR_URL=http://localhost:9696
PROWLARR_KEY=YOUR_PROWLARR_API_KEY
TRANSMISSION_URL=http://localhost:9091/transmission/rpc
TRANSMISSION_USER=admin
TRANSMISSION_PASS=your_password
TRANSMISSION_DOWNLOAD_DIR_MOVIES=/downloads/radarr
TRANSMISSION_DOWNLOAD_DIR_TV=/downloads/tv-sonarr
JELLYFIN_URL=http://localhost:8096
JELLYFIN_KEY=YOUR_JELLYFIN_API_KEY
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
TELEGRAM_CHAT_ID=YOUR_TELEGRAM_CHAT_ID
DESTINATION_MOVIES_DIR=/mnt/datos/complete/Pelis
DESTINATION_TV_DIR=/mnt/datos/complete/Series
TRANSMISSION_MOVIES_DIR_ON_HOST=/mnt/datos/complete/radarr
TRANSMISSION_TV_DIR_ON_HOST=/mnt/datos/complete/tv-sonarr
GRABBED_MOVIES_FILE=movies_grabbed.json
GRABBED_TV_FILE=tv_grabbed.json
